.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board-container {
  font-size: 0;
  width: 150px;
  height: 150px;
  margin-top: 75px;
  border: 1px solid black;
}

.cell {
  width: 50px;
  height: 50px;
  display: inline-block;
  font-size: 0;
  background: rgb(205, 205, 218);
  border: 1px, solid black;
  box-sizing: border-box;
}

.cell:hover{
  cursor: pointer;
  background-color: yellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
